*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
ul{
    padding: 0;
    list-style-type: none;
    border: 5px solid teal;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 5px solid tomato;
    border-radius: 8px;
}
.container{
    display: grid;
    height: 500px;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);

    /* 트랙안 : items, 컨테이너 전체 안 : content */
    /* align-items: start; */
    /* 열방향 정렬 */
    align-content: space-around;
    /* 행방향 정렬 */
    justify-content: space-between; 

}